{% block body -%}
    <h1>GraspCC Heuristc Result</h1>

    <table class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
            <th>Instance</th>
            <th>Gflops</th>
            <th>RAM</th>
            <th>Plataform</th>
            <th>Disk</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in instances %}
            <tr>
                <td>{{ entity.name  }}</td>
                <td>{{ entity.gflops }}</td>
                <td>{{ entity.ram }}</td>
                <td>{{ entity.plataform }}</td>
                <td>{{ entity.disk }}</td>
                <td>{{ entity.price }}</td>
                <td>{{ entity.quantity }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <b>Best maximum time:</b> {{ output.best_maximum_time }} hours
    </p>

    <p>
        <b>Best monetary cost:</b> ${{ output.best_monetary_cost }}
    </p>

    <p>
        <b>Best communication cost:</b> ${{ output.best_communication_cost }}
    </p>

{% endblock %}
