{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Environment Application Requirements</h1>

    <table class="table table-striped table-hover table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Application name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Maximum cost</th>
                <td>$ {{ entity.maximumCost }}</td>
            </tr>
            <tr>
                <th>Minimum Gflops that application need</th>
                <td>{{ entity.minimumGflops }}</td>
            </tr>
            <tr>
                <th>Total RAM memory that application need</th>
                <td>{{ entity.totalRAM }} GBs</td>
            </tr>
            <tr>
                <th>Maximum disk capacity that application need</th>
                <td>{{ entity.maximumDisk }} GBs</td>
            </tr>
            <tr>
                <th>Maximum execution time</th>
                <td>{{ entity.maximumTime }} hours</td>
            </tr>
            <tr>
                <th>Maximum instances</th>
                <td>{{ entity.maximumInstances }}</td>
            </tr>
            <tr>
                <th>Price per GB of data storage in plataform Amazon S3</th>
                <td>$ {{ entity.storagePrice }}</td>
            </tr>
            <tr>
                <th>Average size of data transfered</th>
                <td>{{ entity.averageDataTransferedSize }} GBs</td>
            </tr>
        </tbody>
    </table>

    {{ include('UffCalculatorBundle:Environment:heuristic_output.html.twig', {'instances': instances, 'output': output}) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('environment') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('environment_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>
            <a href="{{ path('environment_choose_aws_ec2_instances', { 'id': entity.id }) }}">Edit instances</a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>


{% endblock %}
