{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Application requirements</h1>

    <table class="table table-striped table-hover table-condensed">
        <tbody>
            <tr>
                <th>Application name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Maximum cost</th>
                <td>$ {{ entity.maximumCost }}</td>
            </tr>
            <tr>
                <th>Minimum Gflops that the application needs</th>
                <td>{{ entity.minimumGflops }}</td>
            </tr>
            <tr>
                <th>Total RAM memory that the application needs</th>
                <td>{{ entity.totalRAM }} GBs</td>
            </tr>
            <tr>
                <th>Maximum disk capacity that the application needs</th>
                <td>{{ entity.maximumDisk }} GBs</td>
            </tr>
            <tr>
                <th>Maximum execution time</th>
                <td>{{ entity.maximumTime }} hours</td>
            </tr>
            <tr>
                <th>Maximum instances</th>
                <td>{{ entity.maximumInstances }}</td>
            </tr>
            <tr>
                <th>Price per GB of data storage in plataform Amazon S3</th>
                <td>$ {{ entity.storagePrice }}</td>
            </tr>
            <tr>
                <th>Average size of data transfered</th>
                <td>{{ entity.averageDataTransferedSize }} GBs</td>
            </tr>
        </tbody>
    </table>

    {{ include('UffCalculatorBundle:Environment:heuristic_output.html.twig', {'instances': instances, 'output': output}) }}


    <div class="btn-group" role="group">
        <a class="btn btn-primary" href="{{ path('environment') }}">
            Back to the list
        </a>
        <a class="btn btn-primary" href="{{ path('environment_edit', { 'id': entity.id }) }}">
            Edit application
        </a>
        <a class="btn btn-primary" href="{{ path('environment_choose_instances', { 'id': entity.id }) }}">
            Edit VMs
        </a>
        <button type="button" class="btn btn-danger btn-delete-application">
            Delete application
        </button>
    </div>

    <div class="hide">{{ form(delete_form) }}</div>

    <div><br/></div>


{% endblock %}
