{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Environment</h1>

    <table class="table table-striped table-hover table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Maximum Cost</th>
                <td>$ {{ entity.maximumCost }}</td>
            </tr>
            <tr>
                <th>Minimum Gflops</th>
                <td>{{ entity.minimumGflops }}</td>
            </tr>
            <tr>
                <th>Total RAM</th>
                <td>{{ entity.totalRAM }} GBs</td>
            </tr>
            <tr>
                <th>Maximum Disk</th>
                <td>{{ entity.maximumDisk }} GBs</td>
            </tr>
            <tr>
                <th>Maximum Time</th>
                <td>{{ entity.maximumTime }} hours</td>
            </tr>
            <tr>
                <th>Maximum Instances</th>
                <td>{{ entity.maximumInstances }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('environment') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('environment_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>
            <a href="{{ path('environment_choose_aws_ec2_instances', { 'id': entity.id }) }}">Edit instances</a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

    {{ include('UffCalculatorBundle:Environment:heuristic_output.html.twig', {'instances': instances, 'output': output}) }}


{% endblock %}
