<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}UFF - GraspCC Heuristc Interface{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/uffcalculator/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/uffcalculator/css/bootstrap-theme.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/uffcalculator/css/starter-template.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand">GraspCC Heuristc Interface</span>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="{{ path('environment') }}">Applications</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>


        <div class="container">{% block body %}{% endblock %}</div>

        {% block javascripts %}
            {% javascripts '@UffCalculatorBundle/Resources/public/js/*' %}
            <script src="{{ asset('bundles/uffcalculator/js/jquery-1.11.0.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/uffcalculator/js/bootstrap.min.js') }}" type="text/javascript"></script>
            <script type="text/javascript">
                $(function(){
                    $(".btn-delete-application").click(function(event){
                        event.preventDefault();

                        if (confirm("Are you sure?"))
                        {
                            $("#form_submit").click();
                        }
                    });
                });
            </script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
