{% extends '::base.html.twig' %}

{% form_theme form 'UffCalculatorBundle:Form:fields.html.twig' %}

{% block body -%}
    <h1>Instance creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('environment') }}">
                Back to environments
            </a>
        </li>
    </ul>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

<script>
$(function(){

    {% for instanceTypes in awsPricing %}
        {% for instance in instanceTypes.sizes %}
            $("#uff_calculatorbundle_instance_aws option[value='{{ instance.size }}']").data({
                vCPU: "{{ instance.vCPU }}",
                ECU: "{{ instance.ECU }}",
                memoryGiB: "{{ instance.memoryGiB }}",
                storageGB: "{{ instance.storageGB }}",
                price: "{{ instance.valueColumns[0].prices.USD }}"
            });
        {% endfor %}
    {% endfor %}

    $("#uff_calculatorbundle_instance_aws").change(function(){
        var instance = $(this).find(":selected").data();
        $("#uff_calculatorbundle_instance_ram").val(instance.memoryGiB);
        $("#uff_calculatorbundle_instance_price").val(instance.price);
    });
});
</script>
{% endblock %}
